*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100vw;
}

article{
    width: 80%;
    border: 1px solid black;
    margin: 100px auto;
}

table{
    width: 100%;
}

table, td, tr, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 20px;
    text-align: center;
}

th{
    background: rebeccapurple;
    color: #fff;
}

td:hover{
    background: rgb(174, 92, 255);
    color: #fff;
    cursor: pointer;
}