*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
}

.container{
    width: 100%;
    height: 100px;
    background: #111;
}

.container > article{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}

.a1{
    flex-basis: 30%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.a1 > h1{
    color: #fff;
    font-size: 25px;
}

.a2{
    flex-basis: 60%;
}

.a2 > ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    list-style: none;
    height: 100px;
}

.a2 > ul > li{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.a3{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.a3 > button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
    background: white;
    font-weight: bold;
    font-size: 13px;
}

.a3 > button:hover{
    background: #111;
    border: 1px solid #fff;
    color: #fff
}

@media (max-width: 1100px) and (min-width:976px){
    .a1 > h1{
        font-size: 20px;
    }

    .a2 > ul > li{
        font-size: 13px;
    }

    .a3 > button{
        font-size: 11px;
    }
}

@media (max-width: 976px) and (min-width: 888px){
    .a1 > h1{
        font-size: 18px;
    }

    .a2 > ul >li{
        font-size: 11px;
    }

    .a3 > button{
        font-size: 9px;
    }

    .a3{
        justify-content: flex-start;
    }
}

@media (max-width: 888px) and (min-width: 648px){

    .container > article {
        width: 90%;
    }

    .a1 > h1{
        font-size: 16px;
    }

    .a2 > ul >li{
        font-size: 10px;
    }

    .a3 > button{
        font-size: 8px;
        padding: 10px 15px;
    }

    .a3{
        justify-content: flex-start;
    }
}

@media (max-width: 648px){
    .container{
        height: 200px;
    }

    .container > article{
        flex-direction: column;
        height: 100%;
    }

    .demo{
        flex-basis: 33.3333333%;
    }

    .a1{
        justify-content: center;
    }

    .a2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .a3{
        justify-content: center;
    }

    .a2 > ul > li{
        font-size: 13px;
    }
}