* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 50px auto;
    position: relative;
}

.children {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    font-size: 4rem;
}

.d1 {
    background: lightblue;
    /* position: static; */
    /* position: relative; */
    position: absolute;
    /* top: 20px; */
    bottom: 0;
    right: 40px;
    /* left: 40px; */
}

.d2 {
    background: lightcoral;
    position: fixed;
    top: 0;
}

.d3 {
    background: lightgreen;
    position: relative;
    top: 200px;
}