*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background: lightgreen;
    position: relative;
    z-index: 4;
}

h1{
    color: #fff;
}

nav{
    padding: 0 70px;
    height: 100px;
    background: orange;
    width: 100%;
    /* position: fixed; */
    position: sticky;
    top: 0;
    /* z-index: 1000; */
}

nav > ul{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    list-style: none;
    position: relative;
}

ul > li{
    color: #fff;
    cursor: pointer;
}

section{
    background: #fff;
    padding: 20px;
}

footer{
    background: gray;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-products{
    height: 200px;
    width: 250px;
    background: #fff;
    position: absolute;
    top: 60px;
    left: 70px;
    border-radius: 10px;
    display: none;
}

.display-products > ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    width: 70%;
    margin: 20px auto;
}

.display-products > ul > li{
    color: #111;
}

.hover-products:hover + .display-products{
    display: block;
}

