* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f4f7;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article {
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.s1 {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.s1>img {
    margin-bottom: 20px;
}

.s1>p {
    font-size: 28px;
    font-weight: 400;
    color: rgb(28, 30, 33);
}

.s1>p:first-child{
    margin-top: 20px;
}



.s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.s2>form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 10px;
    padding: 16px 20px 0px;
    gap: 14px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.s2>form>input {
    padding: 14px 16px;
    font-size: 17px;
    color: rgb(29, 33, 41);
    border: 1px solid #e5e5e5;
    border-radius: 6px;
}

.s2>form>input:focus {
    outline: 0.4px solid #0866ff;
}

.s2>form>button[type="submit"] {
    width: 100%;
    padding: 12px 0px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #0866ff;
    cursor: pointer;
}

.s2>form>button[type="submit"]:hover {
    background: #1877F2;
}

.s2>form>.forgotten {
    font-size: 14px;
    font-weight: 400;
    color: #0866ff;
    text-align: center;
    margin: 6px 0px 10px 0px;
}

.hr {
    width: 100%;
    border: 0.5px solid #e5e5e5;
}

.s2>form>button[type="button"] {
    align-self: center;
    width: 56%;
    height: 14%;
    padding: 10px 0px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    background: #42B72A;
    margin-top: 10px;
    cursor: pointer;
}

.s2>form>button[type="button"]:hover {
    background: #1877F2;
}

.s2>.page {
    font-size: 14px;
    font-weight: 400;
    margin-top: 24px;
}

.s2>.page>span {
    font-weight: bold;
}

.s2>.page>span:hover {
    text-decoration: underline;
    cursor: pointer;
}


/* @media(max-width:1300px) and (min-width:1100px){
    article{
        width: 80%;
    }
} */


@media(max-width:1300px) and (min-width:1080px){
    article{
        width: 90%;
    }
}

@media(max-width:1080px){
    article {
        width: 90%;
        flex-direction: column;
        gap: 40px;
    }
    
    .s1 {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 40px;
    }
    
    .s1>p {
        text-align: center;
        margin-top: 0;
    }

    .s1>p {
        font-size: 24px;
    }
}

